# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual env
mandala-venv/

# Data & model artefacts
.hydra/
runs/
checkpoints/
wandb/
benchmarks/
lightning_logs/
outputs/
slurm-*.out

# PyTest + coverage
.pytest_cache/
coverage.*

# Sphinx build
docs/_build/

# Ray Tune logs
ray_results/

# Notes
# notes/

# egg-info
*.egg-info/

# vscode
.vscode/
.vscode-test/

# ruff
.ruff_cache/

# throwaway notebooks
notebooks/scratchpads

# temporary/testing files
data/deeph_e3/7_7_reproduced/*
data/deeph_e3/silicon_reproduced/*
