# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual env
e3gnn4matrix-venv/

# Data & model artefacts
./data/big/
runs/
checkpoints/
wandb/

# PyTest + coverage
.pytest_cache/
coverage.*

# Sphinx build
docs/_build/

# Ray Tune logs
ray_results/

# Notes
notes/

# egg-info
*.egg-info/

# vscode
.vscode/
.vscode-test/

# ruff
.ruff_cache/

# throwaway notebooks
notebooks/scratchpads

# big data
data/big/
